openapi: 3.2.0
info:
  title: Bungalow Listings API
  version: ''
  description: '# Getting Started


    If you are looking to integrate Bungalow''s property listings, we provide a number of helpful endpoints.'
  x-logo:
    url: https://assets.bungalow.com/logos/bungalow_wordmark_dark.png
    altText: Bungalow wordmark
servers:
- url: https://fieldstone.bungalow.com/api/v1/
tags:
- name: Listings
  description: Listings endpoints allow you to get all listings in a market or a singular property.
  x-order: 2
paths:
  /listings/properties/:
    get:
      operationId: /listings/properties/
      description: 'This endpoint allows you to get a list of all marketable properties for a given market.

        Co-living addresses are obfuscated for privacy reasons, as is the fidelity of latitude and longitude.

        Full addresses are provided for whole-home rentals, in the `street_address` field.

        Note that availability dates in the past are treated as today, to allow for more desirable

        sorting, without affecting the sorting of future availability.'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: marketing_type
        required: false
        in: query
        description: marketing_type
        schema:
          type: string
          enum:
          - group_living
          - co_living
      - name: available_room_count
        required: false
        in: query
        description: available_room_count
        schema:
          type: string
      - name: total_room_count
        required: false
        in: query
        description: total_room_count
        schema:
          type: string
      - name: earliest_marketable_room
        required: false
        in: query
        description: earliest_marketable_room
        schema:
          type: string
      - name: earliest_available_date_or_today
        required: false
        in: query
        description: earliest_available_date_or_today
        schema:
          type: string
      - name: market__slug
        required: true
        in: query
        description: Slug-formatted market, e.g. bay-area, seattle, los-angeles. Use the `/markets` endpoint to get a list of all options.
        schema:
          type: string
      - name: neighborhood__slug
        required: false
        in: query
        description: slug formatted neighborhood, e.g hells-kitchen
        schema:
          type: string
      - name: is_coming_soon
        required: false
        in: query
        description: options are `true` or `false` (implicit default)
        schema:
          type: string
      - name: is_featured
        required: false
        in: query
        description: options are `true` or `false` (implicit default)
        schema:
          type: string
      - name: master_bedroom
        required: false
        in: query
        description: master_bedroom
        schema:
          type: string
      - name: private_bathroom
        required: false
        in: query
        description: private_bathroom
        schema:
          type: string
      - name: dryer
        required: false
        in: query
        description: dryer
        schema:
          type: string
      - name: washer
        required: false
        in: query
        description: washer
        schema:
          type: string
      - name: backyard
        required: false
        in: query
        description: backyard
        schema:
          type: string
      - name: pool
        required: false
        in: query
        description: pool
        schema:
          type: string
      - name: pet_friendly
        required: false
        in: query
        description: pet_friendly
        schema:
          type: string
      - name: max_price
        required: false
        in: query
        description: max_price
        schema:
          type: string
      - name: min_price
        required: false
        in: query
        description: min_price
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type:
                    - string
                    - 'null'
                  previous:
                    type:
                    - string
                    - 'null'
                  results:
                    type: array
                    items:
                      properties:
                        id:
                          type: integer
                        slug:
                          type: string
                        headline:
                          type:
                          - string
                          - 'null'
                        is_coming_soon:
                          type: boolean
                        coming_soon_date:
                          type: string
                          format: date
                        num_bathrooms:
                          type: number
                          multipleOf: 0.1
                          maximum: 100
                          minimum: -100
                        sqft:
                          type: integer
                        address:
                          properties:
                            city:
                              type: string
                              maxLength: 128
                            county:
                              type: string
                              maxLength: 128
                            neighborhood:
                              type: string
                              readOnly: true
                            latitude:
                              type: number
                              multipleOf: 0.001
                              maximum: 1000000
                              minimum: -1000000
                            longitude:
                              type: number
                              multipleOf: 0.001
                              maximum: 1000000
                              minimum: -1000000
                          required:
                          - latitude
                          - longitude
                          type: object
                          readOnly: true
                        street_address:
                          type: string
                          readOnly: true
                        market:
                          properties:
                            id:
                              type: integer
                              readOnly: true
                            internal_name:
                              type: string
                              maxLength: 256
                            display_name:
                              type: string
                              maxLength: 256
                            slug:
                              type:
                              - string
                              - 'null'
                              maxLength: 50
                              pattern: ^[-a-zA-Z0-9_]+$
                            email:
                              type: string
                              description: Market specific email i.e la@bungalow.com which accepts messages from robots
                              maxLength: 128
                            region:
                              type: string
                              maxLength: 64
                            region_code:
                              type: string
                              maxLength: 3
                            country:
                              type: string
                              maxLength: 128
                            country_code:
                              type: string
                              description: Alpha-2 ISO 3166 code
                              maxLength: 2
                            img:
                              type: string
                              format: uri
                              maxLength: 200
                              pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                            img_md:
                              type: string
                              format: uri
                              maxLength: 200
                              pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                            hide_room_details:
                              type: boolean
                            rent_premiums:
                              type: array
                              items:
                                properties:
                                  lease_length_in_months:
                                    type: integer
                                    maximum: 2147483647
                                    minimum: 0
                                  premium_per_month:
                                    type: number
                                    multipleOf: 0.01
                                    maximum: 10000000000000
                                    minimum: -10000000000000
                                required:
                                - lease_length_in_months
                                - premium_per_month
                            icons:
                              properties:
                                small:
                                  type: string
                                  format: binary
                                medium:
                                  type: string
                                  format: binary
                                large:
                                  type: string
                                  format: binary
                                svg:
                                  type: string
                                  format: binary
                              required:
                              - small
                              - medium
                              - large
                              - svg
                              type: object
                            timezone:
                              type: string
                            latitude:
                              type: string
                            longitude:
                              type: string
                            market_info:
                              type: string
                              readOnly: true
                            market_area:
                              properties:
                                id:
                                  type: integer
                                  readOnly: true
                                slug:
                                  type:
                                  - string
                                  - 'null'
                                  description: Hyphenated lower case form, can be used as part of URL
                                  maxLength: 250
                                  pattern: ^[-a-zA-Z0-9_]+$
                                name:
                                  type: string
                                  maxLength: 128
                                area_type:
                                  type:
                                  - string
                                  - 'null'
                                  description: Type of area, e.g Neighborhood, Market, et. al
                                geohash:
                                  type: string
                                  description: The geohash prefix that falls in and round this area (ideal for filtering in a client interface).
                                  maxLength: 9
                                bounds_north:
                                  type: number
                                  multipleOf: 1.0e-06
                                  maximum: 1000
                                  minimum: -1000
                                  description: The max latitude
                                bounds_south:
                                  type: number
                                  multipleOf: 1.0e-06
                                  maximum: 1000
                                  minimum: -1000
                                  description: The min latitude
                                bounds_west:
                                  type: number
                                  multipleOf: 1.0e-06
                                  maximum: 1000
                                  minimum: -1000
                                  description: The min longitude
                                bounds_east:
                                  type: number
                                  multipleOf: 1.0e-06
                                  maximum: 1000
                                  minimum: -1000
                                  description: The max longitude
                                latitude:
                                  type: number
                                  multipleOf: 1.0e-06
                                  maximum: 1000
                                  minimum: -1000
                                  description: The centerpoint latitude
                                longitude:
                                  type: number
                                  multipleOf: 1.0e-06
                                  maximum: 1000
                                  minimum: -1000
                                  description: The centerpoint longitude
                              required:
                              - name
                              - bounds_north
                              - bounds_south
                              - bounds_west
                              - bounds_east
                              - latitude
                              - longitude
                              type: object
                            support_operating_hours:
                              type: string
                              readOnly: true
                            waive_application_fees:
                              type: boolean
                          required:
                          - internal_name
                          - display_name
                          - rent_premiums
                          - icons
                          - timezone
                          - market_area
                          - waive_application_fees
                          type: object
                          readOnly: true
                        neighborhood_area:
                          properties:
                            id:
                              type: integer
                              readOnly: true
                            slug:
                              type:
                              - string
                              - 'null'
                              description: Hyphenated lower case form, can be used as part of URL
                              maxLength: 250
                              pattern: ^[-a-zA-Z0-9_]+$
                            name:
                              type: string
                              maxLength: 128
                            area_type:
                              type:
                              - string
                              - 'null'
                              description: Type of area, e.g Neighborhood, Market, et. al
                            geohash:
                              type: string
                              description: The geohash prefix that falls in and round this area (ideal for filtering in a client interface).
                              maxLength: 9
                            bounds_north:
                              type: number
                              multipleOf: 1.0e-06
                              maximum: 1000
                              minimum: -1000
                              description: The max latitude
                            bounds_south:
                              type: number
                              multipleOf: 1.0e-06
                              maximum: 1000
                              minimum: -1000
                              description: The min latitude
                            bounds_west:
                              type: number
                              multipleOf: 1.0e-06
                              maximum: 1000
                              minimum: -1000
                              description: The min longitude
                            bounds_east:
                              type: number
                              multipleOf: 1.0e-06
                              maximum: 1000
                              minimum: -1000
                              description: The max longitude
                            latitude:
                              type: number
                              multipleOf: 1.0e-06
                              maximum: 1000
                              minimum: -1000
                              description: The centerpoint latitude
                            longitude:
                              type: number
                              multipleOf: 1.0e-06
                              maximum: 1000
                              minimum: -1000
                              description: The centerpoint longitude
                          required:
                          - name
                          - bounds_north
                          - bounds_south
                          - bounds_west
                          - bounds_east
                          - latitude
                          - longitude
                          type: object
                          readOnly: true
                        amenities:
                          type: object
                        images:
                          type: array
                          items:
                            properties:
                              sm_url:
                                type:
                                - string
                                - 'null'
                                format: uri
                                maxLength: 256
                                pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                              md_url:
                                type:
                                - string
                                - 'null'
                                format: uri
                                maxLength: 256
                                pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                              lg_url:
                                type:
                                - string
                                - 'null'
                                format: uri
                                maxLength: 256
                                pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                              caption:
                                type: string
                                maxLength: 1024
                              order:
                                type:
                                - integer
                                - 'null'
                                maximum: 2147483647
                                minimum: 0
                              staged_bedroom:
                                type:
                                - boolean
                                - 'null'
                              is_floorplan:
                                type: string
                                readOnly: true
                          readOnly: true
                        roommate_shared_interests:
                          type: array
                          items:
                            properties:
                              label:
                                type: string
                              copy:
                                type: string
                              icon:
                                type: string
                                format: uri
                                pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                              icon_svg:
                                type: string
                                format: uri
                                pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                            required:
                            - label
                            - copy
                            - icon
                            - icon_svg
                          readOnly: true
                        house_profile:
                          properties:
                            id:
                              type: integer
                              readOnly: true
                            description:
                              type: string
                              readOnly: true
                            tags:
                              type: array
                              items:
                                properties:
                                  id:
                                    type: integer
                                    readOnly: true
                                  label:
                                    type: string
                                    readOnly: true
                              readOnly: true
                            esa_cat:
                              type: boolean
                              readOnly: true
                            esa_dog:
                              type: boolean
                              readOnly: true
                            gender_preferences:
                              type: array
                              items:
                                properties:
                                  id:
                                    type: integer
                                    readOnly: true
                                  name:
                                    type: string
                                    readOnly: true
                                  pronouns:
                                    type: array
                                    items: {}
                                    readOnly: true
                              readOnly: true
                            min_age:
                              type: integer
                              readOnly: true
                            max_age:
                              type: integer
                              readOnly: true
                          type: object
                          readOnly: true
                        total_room_count:
                          type:
                          - integer
                          - 'null'
                          maximum: 2147483647
                          description: Set by update_property_listings task / 10min
                          minimum: 0
                        retail_property:
                          type:
                          - boolean
                          - 'null'
                          description: Is this a Retail or Buy-To-Bungalow home?
                        available_room_count:
                          type:
                          - integer
                          - 'null'
                          maximum: 2147483647
                          description: Set by update_property_listings task / 10min
                          minimum: 0
                        earliest_available_date:
                          type: string
                          format: date
                        room_prices:
                          type:
                          - object
                          - 'null'
                        full_property_price:
                          type:
                          - integer
                          - 'null'
                          maximum: 2147483647
                          description: Set by update_property_listings task / 10min
                          minimum: 0
                        property_marketing_type:
                          type: string
                        demand_leases_end_date:
                          type:
                          - string
                          - 'null'
                          format: date
                          description: Set by update_property_listings task / 10min
                        is_instant_lease:
                          type:
                          - boolean
                          - 'null'
                        next_open_house:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          description: The DateTime in UTC of the next Open House
                        promotions:
                          type:
                          - object
                          - 'null'
                        prev_prices:
                          type: object
                        room_amenities:
                          type:
                          - object
                          - 'null'
                        showing_today:
                          type:
                          - boolean
                          - 'null'
                          description: Set by update_property_listings task / 10min
                        parking_spots_available:
                          type: integer
                        automated_tour_compatible:
                          type: boolean
                        showdigs_showing_enabled:
                          type: boolean
                        is_featured:
                          type: boolean
                      required:
                      - id
                      - slug
                      - is_coming_soon
                      - coming_soon_date
                      - num_bathrooms
                      - sqft
                      - amenities
                      - earliest_available_date
                      - property_marketing_type
                      - prev_prices
                      - parking_spots_available
                      - automated_tour_compatible
                      - showdigs_showing_enabled
                      - is_featured
          description: ''
      tags:
      - Listings
      summary: /listings/properties/
      x-summary-source: derived
  /listings/properties/{id_or_slug}:
    get:
      operationId: /listings/properties/{id_or_slug}
      description: 'Get listing information for a single property. Can query by `id` or `slug`. This endpoint

        returns a richer level of information than the `list` endpoint.'
      parameters:
      - name: id_or_slug
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                  slug:
                    type: string
                  headline:
                    type:
                    - string
                    - 'null'
                  is_coming_soon:
                    type: boolean
                  coming_soon_date:
                    type: string
                    format: date
                  num_bathrooms:
                    type: number
                    multipleOf: 0.1
                    maximum: 100
                    minimum: -100
                  sqft:
                    type: integer
                  address:
                    properties:
                      city:
                        type: string
                        maxLength: 128
                      county:
                        type: string
                        maxLength: 128
                      neighborhood:
                        type: string
                        readOnly: true
                      latitude:
                        type: number
                        multipleOf: 0.001
                        maximum: 1000000
                        minimum: -1000000
                      longitude:
                        type: number
                        multipleOf: 0.001
                        maximum: 1000000
                        minimum: -1000000
                    required:
                    - latitude
                    - longitude
                    type: object
                    readOnly: true
                  street_address:
                    type: string
                    readOnly: true
                  market:
                    properties:
                      id:
                        type: integer
                        readOnly: true
                      internal_name:
                        type: string
                        maxLength: 256
                      display_name:
                        type: string
                        maxLength: 256
                      slug:
                        type:
                        - string
                        - 'null'
                        maxLength: 50
                        pattern: ^[-a-zA-Z0-9_]+$
                      email:
                        type: string
                        description: Market specific email i.e la@bungalow.com which accepts messages from robots
                        maxLength: 128
                      region:
                        type: string
                        maxLength: 64
                      region_code:
                        type: string
                        maxLength: 3
                      country:
                        type: string
                        maxLength: 128
                      country_code:
                        type: string
                        description: Alpha-2 ISO 3166 code
                        maxLength: 2
                      img:
                        type: string
                        format: uri
                        maxLength: 200
                        pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                      img_md:
                        type: string
                        format: uri
                        maxLength: 200
                        pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                      hide_room_details:
                        type: boolean
                      rent_premiums:
                        type: array
                        items:
                          properties:
                            lease_length_in_months:
                              type: integer
                              maximum: 2147483647
                              minimum: 0
                            premium_per_month:
                              type: number
                              multipleOf: 0.01
                              maximum: 10000000000000
                              minimum: -10000000000000
                          required:
                          - lease_length_in_months
                          - premium_per_month
                      icons:
                        properties:
                          small:
                            type: string
                            format: binary
                          medium:
                            type: string
                            format: binary
                          large:
                            type: string
                            format: binary
                          svg:
                            type: string
                            format: binary
                        required:
                        - small
                        - medium
                        - large
                        - svg
                        type: object
                      timezone:
                        type: string
                      latitude:
                        type: string
                      longitude:
                        type: string
                      market_info:
                        type: string
                        readOnly: true
                      market_area:
                        properties:
                          id:
                            type: integer
                            readOnly: true
                          slug:
                            type:
                            - string
                            - 'null'
                            description: Hyphenated lower case form, can be used as part of URL
                            maxLength: 250
                            pattern: ^[-a-zA-Z0-9_]+$
                          name:
                            type: string
                            maxLength: 128
                          area_type:
                            type:
                            - string
                            - 'null'
                            description: Type of area, e.g Neighborhood, Market, et. al
                          geohash:
                            type: string
                            description: The geohash prefix that falls in and round this area (ideal for filtering in a client interface).
                            maxLength: 9
                          bounds_north:
                            type: number
                            multipleOf: 1.0e-06
                            maximum: 1000
                            minimum: -1000
                            description: The max latitude
                          bounds_south:
                            type: number
                            multipleOf: 1.0e-06
                            maximum: 1000
                            minimum: -1000
                            description: The min latitude
                          bounds_west:
                            type: number
                            multipleOf: 1.0e-06
                            maximum: 1000
                            minimum: -1000
                            description: The min longitude
                          bounds_east:
                            type: number
                            multipleOf: 1.0e-06
                            maximum: 1000
                            minimum: -1000
                            description: The max longitude
                          latitude:
                            type: number
                            multipleOf: 1.0e-06
                            maximum: 1000
                            minimum: -1000
                            description: The centerpoint latitude
                          longitude:
                            type: number
                            multipleOf: 1.0e-06
                            maximum: 1000
                            minimum: -1000
                            description: The centerpoint longitude
                        required:
                        - name
                        - bounds_north
                        - bounds_south
                        - bounds_west
                        - bounds_east
                        - latitude
                        - longitude
                        type: object
                      support_operating_hours:
                        type: string
                        readOnly: true
                      waive_application_fees:
                        type: boolean
                    required:
                    - internal_name
                    - display_name
                    - rent_premiums
                    - icons
                    - timezone
                    - market_area
                    - waive_application_fees
                    type: object
                    readOnly: true
                  amenities:
                    type: object
                  images:
                    type: array
                    items:
                      properties:
                        sm_url:
                          type:
                          - string
                          - 'null'
                          format: uri
                          maxLength: 256
                          pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                        md_url:
                          type:
                          - string
                          - 'null'
                          format: uri
                          maxLength: 256
                          pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                        lg_url:
                          type:
                          - string
                          - 'null'
                          format: uri
                          maxLength: 256
                          pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                        caption:
                          type: string
                          maxLength: 1024
                        order:
                          type:
                          - integer
                          - 'null'
                          maximum: 2147483647
                          minimum: 0
                        staged_bedroom:
                          type:
                          - boolean
                          - 'null'
                        is_floorplan:
                          type: string
                          readOnly: true
                    readOnly: true
                  roommate_shared_interests:
                    type: array
                    items:
                      properties:
                        label:
                          type: string
                        copy:
                          type: string
                        icon:
                          type: string
                          format: uri
                          pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                        icon_svg:
                          type: string
                          format: uri
                          pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                      required:
                      - label
                      - copy
                      - icon
                      - icon_svg
                    readOnly: true
                  house_profile:
                    properties:
                      id:
                        type: integer
                        readOnly: true
                      description:
                        type: string
                        readOnly: true
                      tags:
                        type: array
                        items:
                          properties:
                            id:
                              type: integer
                              readOnly: true
                            label:
                              type: string
                              readOnly: true
                        readOnly: true
                      esa_cat:
                        type: boolean
                        readOnly: true
                      esa_dog:
                        type: boolean
                        readOnly: true
                      gender_preferences:
                        type: array
                        items:
                          properties:
                            id:
                              type: integer
                              readOnly: true
                            name:
                              type: string
                              readOnly: true
                            pronouns:
                              type: array
                              items: {}
                              readOnly: true
                        readOnly: true
                      min_age:
                        type: integer
                        readOnly: true
                      max_age:
                        type: integer
                        readOnly: true
                    type: object
                    readOnly: true
                  total_room_count:
                    type:
                    - integer
                    - 'null'
                    maximum: 2147483647
                    description: Set by update_property_listings task / 10min
                    minimum: 0
                  available_room_count:
                    type:
                    - integer
                    - 'null'
                    maximum: 2147483647
                    description: Set by update_property_listings task / 10min
                    minimum: 0
                  earliest_available_date:
                    type: string
                    format: date
                  room_prices:
                    type:
                    - object
                    - 'null'
                  full_property_price:
                    type:
                    - integer
                    - 'null'
                    maximum: 2147483647
                    description: Set by update_property_listings task / 10min
                    minimum: 0
                  property_marketing_type:
                    type: string
                  retail_property:
                    type:
                    - boolean
                    - 'null'
                    description: Is this a Retail or Buy-To-Bungalow home?
                  next_open_house:
                    type:
                    - string
                    - 'null'
                    format: date-time
                    description: The DateTime in UTC of the next Open House
                  promotions:
                    type:
                    - object
                    - 'null'
                  prev_prices:
                    type: object
                  showing_today:
                    type:
                    - boolean
                    - 'null'
                    description: Set by update_property_listings task / 10min
                  automated_tour_compatible:
                    type: boolean
                  description_html:
                    type: string
                  matterport_url:
                    type: string
                    format: uri
                    pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                  is_premarketing:
                    type: string
                    readOnly: true
                  transfer_eligible:
                    type: string
                    readOnly: true
                  walkthrough_video_url:
                    type: string
                    format: uri
                    pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                  is_instant_lease:
                    type:
                    - boolean
                    - 'null'
                  demand_leases_end_date:
                    type:
                    - string
                    - 'null'
                    format: date
                    description: Set by update_property_listings task / 10min
                  attributes:
                    type: array
                    items:
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        slug:
                          type: string
                          pattern: ^[-a-zA-Z0-9_]+$
                        icon:
                          type:
                          - string
                          - 'null'
                          format: uri
                          pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                        font_icon:
                          type:
                          - string
                          - 'null'
                        is_visible_on_mobile:
                          type:
                          - boolean
                          - 'null'
                        value:
                          type:
                          - object
                          - 'null'
                      required:
                      - id
                      - name
                      - slug
                      - icon
                      - font_icon
                      - is_visible_on_mobile
                      - value
                  roommates:
                    type: array
                    items:
                      properties:
                        first_name:
                          type: string
                        move_in_date:
                          type: string
                          format: date
                      required:
                      - first_name
                      - move_in_date
                  roommate_living_preferences:
                    type: array
                    items:
                      properties:
                        top_response:
                          type: string
                        responses:
                          type: array
                          items:
                            type: string
                      required:
                      - top_response
                      - responses
                  rooms:
                    type: string
                    readOnly: true
                  room_images:
                    type:
                    - object
                    - 'null'
                  showing_times_today:
                    type: string
                    readOnly: true
                  showings_available:
                    type: string
                    readOnly: true
                  is_meet_and_greet_available:
                    type:
                    - boolean
                    - 'null'
                  calendly_url:
                    type: string
                    readOnly: true
                  calendly_url_active:
                    type: string
                    readOnly: true
                  parking_spots_available:
                    type: integer
                  sfid:
                    type:
                    - string
                    - 'null'
                    description: SFDC ID for the matching SFDCProperty model
                    maxLength: 64
                  showdigs_showing_enabled:
                    type: boolean
                  is_featured:
                    type: boolean
                required:
                - id
                - slug
                - is_coming_soon
                - coming_soon_date
                - num_bathrooms
                - sqft
                - amenities
                - earliest_available_date
                - property_marketing_type
                - prev_prices
                - automated_tour_compatible
                - description_html
                - matterport_url
                - attributes
                - roommates
                - roommate_living_preferences
                - parking_spots_available
                - showdigs_showing_enabled
                - is_featured
          description: ''
      tags:
      - Listings
      summary: /listings/properties/{id or slug}
      x-summary-source: derived
x-tagGroups:
- name: endpoints
  tags:
  - Markets
  - Listings
  - Showings
  - Applications
