openapi: 3.2.0
info:
  title: Bungalow Applications API
  version: ''
  description: '# Getting Started


    If you are looking to integrate Bungalow''s property listings, we provide a number of helpful endpoints.'
  x-logo:
    url: https://assets.bungalow.com/logos/bungalow_wordmark_dark.png
    altText: Bungalow wordmark
servers:
- url: https://fieldstone.bungalow.com/api/v1/
tags:
- name: Applications
  description: ''
  x-order: 4
paths:
  /applications/source/:
    post:
      operationId: /applications/source/
      description: 'Creates a new application source based on information supplied and returns a public view of the

        application source.


        Being signed in is not required'
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              properties:
                first_name:
                  type: string
                  writeOnly: true
                  description: First name of the applicant
                  maxLength: 512
                middle_name:
                  type:
                  - string
                  - 'null'
                  maxLength: 512
                last_name:
                  type: string
                  writeOnly: true
                  description: Last name of the applicant
                  maxLength: 512
                email:
                  type: string
                  format: email
                  writeOnly: true
                  description: Email address of the applicant
                market:
                  type: string
                  writeOnly: true
                  description: market in slug-format. e.g. bay-area, los-angeles, seattle
                  maxLength: 512
                property:
                  type: string
                  writeOnly: true
                  description: Property id for the application
                extra:
                  type: object
                  writeOnly: true
                  description: 'Additional parameters in a dictionary.  Options include: name, property_url, pets, moving_timeframe, number_of_people_moving_with, preferred_lease_length, annual_income, credit_score'
              required:
              - first_name
              - last_name
              - email
              - market
          application/x-www-form-urlencoded:
            schema:
              properties:
                first_name:
                  type: string
                  writeOnly: true
                  description: First name of the applicant
                  maxLength: 512
                middle_name:
                  type:
                  - string
                  - 'null'
                  maxLength: 512
                last_name:
                  type: string
                  writeOnly: true
                  description: Last name of the applicant
                  maxLength: 512
                email:
                  type: string
                  format: email
                  writeOnly: true
                  description: Email address of the applicant
                market:
                  type: string
                  writeOnly: true
                  description: market in slug-format. e.g. bay-area, los-angeles, seattle
                  maxLength: 512
                property:
                  type: string
                  writeOnly: true
                  description: Property id for the application
                extra:
                  type: object
                  writeOnly: true
                  description: 'Additional parameters in a dictionary.  Options include: name, property_url, pets, moving_timeframe, number_of_people_moving_with, preferred_lease_length, annual_income, credit_score'
              required:
              - first_name
              - last_name
              - email
              - market
          multipart/form-data:
            schema:
              properties:
                first_name:
                  type: string
                  writeOnly: true
                  description: First name of the applicant
                  maxLength: 512
                middle_name:
                  type:
                  - string
                  - 'null'
                  maxLength: 512
                last_name:
                  type: string
                  writeOnly: true
                  description: Last name of the applicant
                  maxLength: 512
                email:
                  type: string
                  format: email
                  writeOnly: true
                  description: Email address of the applicant
                market:
                  type: string
                  writeOnly: true
                  description: market in slug-format. e.g. bay-area, los-angeles, seattle
                  maxLength: 512
                property:
                  type: string
                  writeOnly: true
                  description: Property id for the application
                extra:
                  type: object
                  writeOnly: true
                  description: 'Additional parameters in a dictionary.  Options include: name, property_url, pets, moving_timeframe, number_of_people_moving_with, preferred_lease_length, annual_income, credit_score'
              required:
              - first_name
              - last_name
              - email
              - market
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  middle_name:
                    type:
                    - string
                    - 'null'
                    maxLength: 512
                  url:
                    type: string
                    readOnly: true
          description: ''
      tags:
      - Applications
      summary: /applications/source/
      x-summary-source: derived
x-tagGroups:
- name: endpoints
  tags:
  - Markets
  - Listings
  - Showings
  - Applications
