openapi: 3.2.0
info:
  title: Bungalow Showings API
  version: ''
  description: '# Getting Started


    If you are looking to integrate Bungalow''s property listings, we provide a number of helpful endpoints.'
  x-logo:
    url: https://assets.bungalow.com/logos/bungalow_wordmark_dark.png
    altText: Bungalow wordmark
servers:
- url: https://fieldstone.bungalow.com/api/v1/
tags:
- name: Showings
  description: These two endpoints will give you everything you need to get booking availability, as well as create a showing at a given property.
  x-order: 3
paths:
  /listings/showings/availability/{id}/:
    get:
      operationId: /listings/showings/availability/{id}/
      description: Retrieve the Showing availability grid based on Property
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this property.
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: is_virtual
        required: false
        in: query
        description: If set to true, gets timeslots for virtual showings. This changes the delta for the first slot to 40 minutes.
        schema:
          type: string
      - name: is_soon
        required: false
        in: query
        description: If set to true, displays all timeslots. If set to false, displays less popular timeslots (4PM and later) plus 3 days from today. Auto defaults to true if not set.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type:
                    - string
                    - 'null'
                  previous:
                    type:
                    - string
                    - 'null'
                  results:
                    type: array
                    items:
                      properties:
                        timezone_name:
                          type: string
                        timezone_utc_offset:
                          type: integer
                        availability_periods:
                          type: array
                          items:
                            properties:
                              day_start:
                                type: string
                                readOnly: true
                              timeslots:
                                type: array
                                items:
                                  properties:
                                    start_time:
                                      type: string
                                      format: date-time
                                    end_time:
                                      type: string
                                      format: date-time
                                    job_id:
                                      type:
                                      - string
                                      - 'null'
                                    resource_ids:
                                      type: array
                                      items: {}
                                  required:
                                  - start_time
                                  - end_time
                                  - job_id
                                  - resource_ids
                            required:
                            - timeslots
                        instant_chat_available:
                          type: boolean
                        instant_chat_timeslot:
                          properties:
                            start_time:
                              type: string
                              format: date-time
                            end_time:
                              type: string
                              format: date-time
                            job_id:
                              type:
                              - string
                              - 'null'
                            resource_ids:
                              type: array
                              items: {}
                          required:
                          - start_time
                          - end_time
                          - job_id
                          - resource_ids
                          type:
                          - object
                          - 'null'
                      required:
                      - timezone_name
                      - timezone_utc_offset
                      - availability_periods
                      - instant_chat_available
                      - instant_chat_timeslot
          description: ''
      tags:
      - Showings
      summary: /listings/showings/availability/{id}/
      x-summary-source: derived
  /listings/showings/:
    post:
      operationId: /listings/showings/
      description: Create a new Showing
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              properties:
                user_email:
                  type: string
                  writeOnly: true
                  description: User's email address
                user_name:
                  type: string
                  writeOnly: true
                  description: User's full name
                user_phonenumber:
                  type: string
                  writeOnly: true
                  description: 'User''s phone number in e164 format.  Example: +15555555555'
                user_short_bio:
                  type: string
                  writeOnly: true
                  description: Short bio of the user creating a showing
                property:
                  type: string
                  writeOnly: true
                  description: The ID of the property being shown
                start_time:
                  type: string
                  format: date-time
                  writeOnly: true
                  description: Start date and time of showing in UTC
                end_time:
                  type: string
                  format: date-time
                  writeOnly: true
                  description: End date and time of showing in UTC
                job_id:
                  type:
                  - string
                  - 'null'
                  description: For this showing to join an existing job, the existing job's ID can be passed in
                is_virtual:
                  type: boolean
                  description: If set to true, creates the showing as virtual. Video links will be sent out and messaging reminders will have a different copy
                is_group:
                  type: boolean
                  description: Determines if showings on this property are group based instead of individual based
                utm_source:
                  type:
                  - string
                  - 'null'
                  writeOnly: true
                  description: UTM source for click campaigns
                utm_campaign:
                  type:
                  - string
                  - 'null'
                  writeOnly: true
                  description: UTM campaign for click campaigns
                utm_medium:
                  type:
                  - string
                  - 'null'
                  writeOnly: true
                  description: UTM medium for click campaigns
                utm_term:
                  type:
                  - string
                  - 'null'
                  writeOnly: true
                  description: UTM term for click campaigns
                utm_content:
                  type:
                  - string
                  - 'null'
                  writeOnly: true
                  description: UTM content for click campaigns
                gclid:
                  type:
                  - string
                  - 'null'
                  writeOnly: true
                  description: Google click ID for click campaigns
              required:
              - property
              - start_time
              - end_time
          application/x-www-form-urlencoded:
            schema:
              properties:
                user_email:
                  type: string
                  writeOnly: true
                  description: User's email address
                user_name:
                  type: string
                  writeOnly: true
                  description: User's full name
                user_phonenumber:
                  type: string
                  writeOnly: true
                  description: 'User''s phone number in e164 format.  Example: +15555555555'
                user_short_bio:
                  type: string
                  writeOnly: true
                  description: Short bio of the user creating a showing
                property:
                  type: string
                  writeOnly: true
                  description: The ID of the property being shown
                start_time:
                  type: string
                  format: date-time
                  writeOnly: true
                  description: Start date and time of showing in UTC
                end_time:
                  type: string
                  format: date-time
                  writeOnly: true
                  description: End date and time of showing in UTC
                job_id:
                  type:
                  - string
                  - 'null'
                  description: For this showing to join an existing job, the existing job's ID can be passed in
                is_virtual:
                  type: boolean
                  description: If set to true, creates the showing as virtual. Video links will be sent out and messaging reminders will have a different copy
                is_group:
                  type: boolean
                  description: Determines if showings on this property are group based instead of individual based
                utm_source:
                  type:
                  - string
                  - 'null'
                  writeOnly: true
                  description: UTM source for click campaigns
                utm_campaign:
                  type:
                  - string
                  - 'null'
                  writeOnly: true
                  description: UTM campaign for click campaigns
                utm_medium:
                  type:
                  - string
                  - 'null'
                  writeOnly: true
                  description: UTM medium for click campaigns
                utm_term:
                  type:
                  - string
                  - 'null'
                  writeOnly: true
                  description: UTM term for click campaigns
                utm_content:
                  type:
                  - string
                  - 'null'
                  writeOnly: true
                  description: UTM content for click campaigns
                gclid:
                  type:
                  - string
                  - 'null'
                  writeOnly: true
                  description: Google click ID for click campaigns
              required:
              - property
              - start_time
              - end_time
          multipart/form-data:
            schema:
              properties:
                user_email:
                  type: string
                  writeOnly: true
                  description: User's email address
                user_name:
                  type: string
                  writeOnly: true
                  description: User's full name
                user_phonenumber:
                  type: string
                  writeOnly: true
                  description: 'User''s phone number in e164 format.  Example: +15555555555'
                user_short_bio:
                  type: string
                  writeOnly: true
                  description: Short bio of the user creating a showing
                property:
                  type: string
                  writeOnly: true
                  description: The ID of the property being shown
                start_time:
                  type: string
                  format: date-time
                  writeOnly: true
                  description: Start date and time of showing in UTC
                end_time:
                  type: string
                  format: date-time
                  writeOnly: true
                  description: End date and time of showing in UTC
                job_id:
                  type:
                  - string
                  - 'null'
                  description: For this showing to join an existing job, the existing job's ID can be passed in
                is_virtual:
                  type: boolean
                  description: If set to true, creates the showing as virtual. Video links will be sent out and messaging reminders will have a different copy
                is_group:
                  type: boolean
                  description: Determines if showings on this property are group based instead of individual based
                utm_source:
                  type:
                  - string
                  - 'null'
                  writeOnly: true
                  description: UTM source for click campaigns
                utm_campaign:
                  type:
                  - string
                  - 'null'
                  writeOnly: true
                  description: UTM campaign for click campaigns
                utm_medium:
                  type:
                  - string
                  - 'null'
                  writeOnly: true
                  description: UTM medium for click campaigns
                utm_term:
                  type:
                  - string
                  - 'null'
                  writeOnly: true
                  description: UTM term for click campaigns
                utm_content:
                  type:
                  - string
                  - 'null'
                  writeOnly: true
                  description: UTM content for click campaigns
                gclid:
                  type:
                  - string
                  - 'null'
                  writeOnly: true
                  description: Google click ID for click campaigns
              required:
              - property
              - start_time
              - end_time
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  job_id:
                    type:
                    - string
                    - 'null'
                    description: For this showing to join an existing job, the existing job's ID can be passed in
                  is_virtual:
                    type: boolean
                    description: If set to true, creates the showing as virtual. Video links will be sent out and messaging reminders will have a different copy
                  is_group:
                    type: boolean
                    description: Determines if showings on this property are group based instead of individual based
                  video_link:
                    type: string
                    readOnly: true
                    description: Video link for connecting leads and showing agents
                  fsa_name:
                    type: string
                    readOnly: true
                    description: Name of the agent doing the showing
                  fsa_photo:
                    type: string
                    readOnly: true
                    description: Photo URL of the agent doing the showing
                  market_contact_email:
                    type: string
                    readOnly: true
                    description: Email address for the sales team in the market
                  attendee_name:
                    type: string
                    readOnly: true
                    description: Attendee's full name
                  attendee_email:
                    type: string
                    readOnly: true
                    description: Attendee's email address
                  showing_start_time:
                    type: string
                    format: date-time
                    readOnly: true
                    description: Start date and tiime of the showing in UTC
                  location:
                    type: string
                    readOnly: true
                    description: Location of the property being shown
                  showing_duration:
                    type: integer
                    readOnly: true
                    description: Duration of the showing in minutes
          description: ''
      tags:
      - Showings
      summary: /listings/showings/
      x-summary-source: derived
x-tagGroups:
- name: endpoints
  tags:
  - Markets
  - Listings
  - Showings
  - Applications
