openapi: 3.2.0
info:
  title: Bungalow Markets API
  version: ''
  description: '# Getting Started


    If you are looking to integrate Bungalow''s property listings, we provide a number of helpful endpoints.'
  x-logo:
    url: https://assets.bungalow.com/logos/bungalow_wordmark_dark.png
    altText: Bungalow wordmark
servers:
- url: https://fieldstone.bungalow.com/api/v1/
tags:
- name: Markets
  description: A market is a generalized geographical area that often represents a city (e.g. Seattle, Boston), but can also represent a broader metropolitan area (e.g. Bay Area).
  x-order: 1
paths:
  /markets/:
    get:
      operationId: /markets/
      description: Lists all active markets
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type:
                    - string
                    - 'null'
                  previous:
                    type:
                    - string
                    - 'null'
                  results:
                    type: array
                    items:
                      properties:
                        id:
                          type: integer
                          readOnly: true
                        internal_name:
                          type: string
                          maxLength: 256
                        display_name:
                          type: string
                          maxLength: 256
                        slug:
                          type:
                          - string
                          - 'null'
                          maxLength: 50
                          pattern: ^[-a-zA-Z0-9_]+$
                        email:
                          type: string
                          description: Market specific email i.e la@bungalow.com which accepts messages from robots
                          maxLength: 128
                        region:
                          type: string
                          maxLength: 64
                        region_code:
                          type: string
                          maxLength: 3
                        country:
                          type: string
                          maxLength: 128
                        country_code:
                          type: string
                          description: Alpha-2 ISO 3166 code
                          maxLength: 2
                        img:
                          type: string
                          format: uri
                          maxLength: 200
                          pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                        img_md:
                          type: string
                          format: uri
                          maxLength: 200
                          pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                        hide_room_details:
                          type: boolean
                        rent_premiums:
                          type: array
                          items:
                            properties:
                              lease_length_in_months:
                                type: integer
                                maximum: 2147483647
                                minimum: 0
                              premium_per_month:
                                type: number
                                multipleOf: 0.01
                                maximum: 10000000000000
                                minimum: -10000000000000
                            required:
                            - lease_length_in_months
                            - premium_per_month
                        icons:
                          properties:
                            small:
                              type: string
                              format: binary
                            medium:
                              type: string
                              format: binary
                            large:
                              type: string
                              format: binary
                            svg:
                              type: string
                              format: binary
                          required:
                          - small
                          - medium
                          - large
                          - svg
                          type: object
                        timezone:
                          type: string
                        latitude:
                          type: string
                        longitude:
                          type: string
                        market_info:
                          type: string
                          readOnly: true
                        market_area:
                          properties:
                            id:
                              type: integer
                              readOnly: true
                            slug:
                              type:
                              - string
                              - 'null'
                              description: Hyphenated lower case form, can be used as part of URL
                              maxLength: 250
                              pattern: ^[-a-zA-Z0-9_]+$
                            name:
                              type: string
                              maxLength: 128
                            area_type:
                              type:
                              - string
                              - 'null'
                              description: Type of area, e.g Neighborhood, Market, et. al
                            geohash:
                              type: string
                              description: The geohash prefix that falls in and round this area (ideal for filtering in a client interface).
                              maxLength: 9
                            bounds_north:
                              type: number
                              multipleOf: 1.0e-06
                              maximum: 1000
                              minimum: -1000
                              description: The max latitude
                            bounds_south:
                              type: number
                              multipleOf: 1.0e-06
                              maximum: 1000
                              minimum: -1000
                              description: The min latitude
                            bounds_west:
                              type: number
                              multipleOf: 1.0e-06
                              maximum: 1000
                              minimum: -1000
                              description: The min longitude
                            bounds_east:
                              type: number
                              multipleOf: 1.0e-06
                              maximum: 1000
                              minimum: -1000
                              description: The max longitude
                            latitude:
                              type: number
                              multipleOf: 1.0e-06
                              maximum: 1000
                              minimum: -1000
                              description: The centerpoint latitude
                            longitude:
                              type: number
                              multipleOf: 1.0e-06
                              maximum: 1000
                              minimum: -1000
                              description: The centerpoint longitude
                          required:
                          - name
                          - bounds_north
                          - bounds_south
                          - bounds_west
                          - bounds_east
                          - latitude
                          - longitude
                          type: object
                        support_operating_hours:
                          type: string
                          readOnly: true
                        waive_application_fees:
                          type: boolean
                      required:
                      - internal_name
                      - display_name
                      - rent_premiums
                      - icons
                      - timezone
                      - market_area
                      - waive_application_fees
          description: ''
      tags:
      - Markets
      summary: /markets/
      x-summary-source: derived
  /markets/{id}:
    get:
      operationId: /markets/{id}
      description: Gets all details of a market, and includes demand metrics
      parameters:
      - name: id
        in: path
        required: true
        description: A unique value identifying this market.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  internal_name:
                    type: string
                    maxLength: 256
                  display_name:
                    type: string
                    maxLength: 256
                  slug:
                    type:
                    - string
                    - 'null'
                    maxLength: 50
                    pattern: ^[-a-zA-Z0-9_]+$
                  email:
                    type: string
                    description: Market specific email i.e la@bungalow.com which accepts messages from robots
                    maxLength: 128
                  region:
                    type: string
                    maxLength: 64
                  region_code:
                    type: string
                    maxLength: 3
                  country:
                    type: string
                    maxLength: 128
                  country_code:
                    type: string
                    description: Alpha-2 ISO 3166 code
                    maxLength: 2
                  img:
                    type: string
                    format: uri
                    maxLength: 200
                    pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                  img_md:
                    type: string
                    format: uri
                    maxLength: 200
                    pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)(?:\\.(?:0|25[0-5]|2[0-4]\\d|1\\d?\\d?|[1-9]\\d?)){3}|\\[[0-9a-f:\\.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::\\d{2,5})?(?:[/?#][^\\s]*)?\\Z"
                  hide_room_details:
                    type: boolean
                  rent_premiums:
                    type: array
                    items:
                      properties:
                        lease_length_in_months:
                          type: integer
                          maximum: 2147483647
                          minimum: 0
                        premium_per_month:
                          type: number
                          multipleOf: 0.01
                          maximum: 10000000000000
                          minimum: -10000000000000
                      required:
                      - lease_length_in_months
                      - premium_per_month
                  icons:
                    properties:
                      small:
                        type: string
                        format: binary
                      medium:
                        type: string
                        format: binary
                      large:
                        type: string
                        format: binary
                      svg:
                        type: string
                        format: binary
                    required:
                    - small
                    - medium
                    - large
                    - svg
                    type: object
                  timezone:
                    type: string
                  latitude:
                    type: string
                  longitude:
                    type: string
                  market_info:
                    type: string
                    readOnly: true
                  market_area:
                    properties:
                      id:
                        type: integer
                        readOnly: true
                      slug:
                        type:
                        - string
                        - 'null'
                        description: Hyphenated lower case form, can be used as part of URL
                        maxLength: 250
                        pattern: ^[-a-zA-Z0-9_]+$
                      name:
                        type: string
                        maxLength: 128
                      area_type:
                        type:
                        - string
                        - 'null'
                        description: Type of area, e.g Neighborhood, Market, et. al
                      geohash:
                        type: string
                        description: The geohash prefix that falls in and round this area (ideal for filtering in a client interface).
                        maxLength: 9
                      bounds_north:
                        type: number
                        multipleOf: 1.0e-06
                        maximum: 1000
                        minimum: -1000
                        description: The max latitude
                      bounds_south:
                        type: number
                        multipleOf: 1.0e-06
                        maximum: 1000
                        minimum: -1000
                        description: The min latitude
                      bounds_west:
                        type: number
                        multipleOf: 1.0e-06
                        maximum: 1000
                        minimum: -1000
                        description: The min longitude
                      bounds_east:
                        type: number
                        multipleOf: 1.0e-06
                        maximum: 1000
                        minimum: -1000
                        description: The max longitude
                      latitude:
                        type: number
                        multipleOf: 1.0e-06
                        maximum: 1000
                        minimum: -1000
                        description: The centerpoint latitude
                      longitude:
                        type: number
                        multipleOf: 1.0e-06
                        maximum: 1000
                        minimum: -1000
                        description: The centerpoint longitude
                    required:
                    - name
                    - bounds_north
                    - bounds_south
                    - bounds_west
                    - bounds_east
                    - latitude
                    - longitude
                    type: object
                  support_operating_hours:
                    type: string
                    readOnly: true
                  waive_application_fees:
                    type: boolean
                  neighborhoods:
                    type: string
                    readOnly: true
                required:
                - internal_name
                - display_name
                - rent_premiums
                - icons
                - timezone
                - market_area
                - waive_application_fees
          description: ''
      tags:
      - Markets
      summary: /markets/{id}
      x-summary-source: derived
x-tagGroups:
- name: endpoints
  tags:
  - Markets
  - Listings
  - Showings
  - Applications
